.navbar-myaccount:hover{
	color: #f7941d !important;
}
.navbar-logout:hover{
	color: #f7941d !important;
}
.navbar-profile:hover{
	color: #f7941d !important;
}

.slicknav_nav_contents{
	visibility: hidden;
	transition: 0.5s;
}

#check:checked ~ .slicknav_nav_contents{
	visibility: visible;
}